@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

#arjsDebugUIContainer {
  display: none;
}

body {
  font-family: 'Nunito';
}

.content-container {
  margin: 0 auto;
  max-width: 512px;
}

.hiro-marker {
  max-width: 512px;
}

.content-container__text {
  padding: 10px 21px;
}

a {
    color: #4682b4;
    font-weight: bold;
}
